.header-wrapper {
	display: flex;
    gap: 0.75rem;
    align-items: center;
}

.body-wrapper {
	/* places the hard line between header and body */
	border-top: 1px solid rgb(201, 201, 201); 
}

.label {
	width: 30%;
    padding-right: var(--lwc-spacingSmall, 0.75rem);
}

.detail {
	width: 70%;
}
